body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	color: #333;
}

h1 {
	text-align: center
}

a.home-url {
	text-decoration: none;
	color: black;	
}

.blogpost-head-item-list{
	font-weight: bold;
	font-size: 14px;
	border-bottom: solid;
	position: relative;
}

.blogpost-subject-item-list {
	font-size: 24px;
}

.blogpost-created-item-list {
	/*font-size: 12px;*/
	color: #999;
	font-family: monospace;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.blogpost-content-item-list {
	font-size: 14px;
	margin-top: 5px;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}

textarea {
	width: 400px;
	height: 400px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}
